/* font-family: 'Rubik', sans-serif;
/* font-family: 'Sue Ellen Francisco', cursive; */

@media only screen and (max-width: 768px) {
   /* declarations for mobile phone */

   h1 {
     margin-top: 2.5em;
     font-size: 3.5em;
     margin-bottom: 1%;
   }

   h3 {
     padding-bottom: 3%;
     font-size: 1em;
     line-height: 1.1em;
     padding-right: 10%;
     padding-left: 10%;
   }

   img {
     margin: 0 auto;
     display: block;
     padding: 7%;
   }

   #wrapper {
     width: 100%;
   }

   #container {
     width: 100%;
   }

   #bottle {
     width: 16%;
   }

   #chapstick {
     width:  35%;
   }

   #laptop {
     width: 40%;
   }

   hr {
     margin-top: 1%;
     margin-bottom: 5%;
     margin-left: 15%;
     margin-right: 15%;
   }

   footer {
    font-size: 0.75em;
    padding-bottom: 5%;
  }

  /* overlay styles */

  .show {
    padding-top: 3%;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
  }

  #close {
    margin-top: 2%;
    margin-right: 2%;
    font-size: 3.5em;
  }

  #overlay hr {
    width: 40%;
    padding-left: 15%;
    margin: 0 auto;
  }

  #titlefade, #textfade, #objectImg {
    display: block;
    margin: 0 auto;
  }

  #titlefade {
    font-size: 2.5em;
    margin-top: 3em;
    width: 80%;
    text-align: center;
  }

  #textfade {
    width: 75%;
    margin-top: 7%;
    font-size: 1em;
    line-height: 1.3em;
  }

  #objImg img {
    margin: 0 auto;
    width: 65%;
  }
}




@media only screen and (min-width: 769px) {
  /* declarations for regular computer browser */

  h1 {
    margin-top: 14%;
    font-size: 4em;
    margin-bottom: 1%;
  }


  h3 {
    padding-bottom: 3%;
    font-size: .75em;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    padding: 4.5%;
  }

  #container {
    width: 85%;
    margin-left: 15%;
    margin-bottom: 4%;
  }

  #bottle {
    width: 7%;
    margin-left: 3%;
  }

  #chapstick {
    width: 16%;
  }

  #laptop {
    width: 23%;
  }

  hr {
    width: 65%;
    margin: 0 auto;
  }

  footer {
    font-size: 0.75em;
    padding-bottom: 3%;
    margin-top: 4%;
  }

/* overlay styles */

  .show {
    margin-top:5%;
    width: 100%;
  }

  #close {
    padding-right:15%;
    margin-top:3%;
    font-size: 4.5em;
  }

  #overlay hr {
    width: 25%;
    margin-left: 25%;
    margin-bottom: 2%;
  }

  #titlefade, col {
    font-size: 2em;
    margin-top: 10%;
    margin-bottom: 2%;
    display: block;
  }

  #textfade, #objImg {
    display: inline-block;
  }

  #titlefade {
    margin-left:25%;
    width: 25%;
    display: block;
  }

  #textfade {
    width: 25%;
    margin-left:25%;
    font-size: 0.90em;
    line-height: 1.3em;
    padding-right: 2%;
  }

  #objImg, #textfade {
    vertical-align: middle;
  }

  #objImg {
    width: 23%;
    padding-left: 8%;
  }

  #objImg img {
    float: right;
    width: 100%;
  }
}




/* general styles */

#wrapper {
  z-index: -1;
  position: absolute;
}

header {
  margin: 0 auto;
}

h1, p {
  font-family: 'Special Elite', cursive;
  font-weight: lighter;
}

h3 {
  font-family: 'Quicksand', sans-serif;
}

h1, h3 {
  text-align: center;
}

img {
  cursor: url(images/cursor.png), auto;
}


/* overlay */
.hide {
  display: none;
}

.show {
  display: block;
  z-index: 1;
  position: absolute;
}

#description {
  font-family: 'Quicksand', sans-serif;
}

#close {
    color: #5DBAF2;
    display: block;
    float: right;
}

/* fade in and fade out styles */
.fade {
    animation-name: displayFade;
    animation-duration: 0.75s;
}

@keyframes displayFade {
  0%{opacity:0}
  100%{opacity:1}
}

.disappear{
  animation-name: displayDisappear;
  animation-duration:0.75s;
}

@keyframes displayDisappear {
  0%{opacity:1}
  100%{opacity:0}
}


/* rotate image with hover */
img:hover {
  transform: rotate(15deg);
}


/* link styles */
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color:#317BD3;
}

a:hover {
  color: #5DBAF2;
}

 footer {
   font-family: 'Quicksand', sans-serif;
   bottom: 0;
   text-align: center;
   position: relative;
 }
