h1 {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 60px;
  color: #313537;
  margin-left:75px;
  margin-top: 35px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  color: #313537;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Helvetica', sans-serif
}

h4 {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  color: #313537;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}

hr {
  margin-left: 75px;
  border: 3px #F1604E;
  margin-top: 30px;
  border-style: solid;
  width: 185px;
}

#column hr {
    border: 1px #F1604E;
    border-style: solid;
    width: 50px;
    margin-left: 0;
    margin-top: 15px;
}
main {
  margin:0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 15px;
}

#audiencePersona {
  margin: 0 auto;
  padding-top: 35px;
  width: 600px;
}

#personaMain {
  margin-top: 30px;
}

#personaMain p {
  line-height: 17px;
  font-size: 11px;
}

#research {
    width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 10px;
}

.sources {
  font-size: 9px;
}

#column {
  padding-right: 85px;
  padding-top: 35px;
}

#audience, #column {
  display: inline-block;
  vertical-align: middle;
}
/* BEGIN IMG STYLES */

#brainstormimg {
  margin-top: 40px;
  margin-left: 380px;
  max-width: 530px;
}

.researchimg {
  width: 500px;
  margin-bottom: 25px;
  margin-top: 25px;
}

#audience {
  width:275px;
  padding-top: 30px;
}
/* end img styles */

ul {
  list-style-type: circle;
}

li {
  font-size: 10px;
  color: black;
}

#demographics {
  list-style-type: none;
}

#demographics li {
  line-height: 20px;
  font-size: 11px;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: darkgray;
}

a:hover {
  color: #F1604E;
}

a:active {
  color: darkgray;
}

footer {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #313537;
  clear:right;
  position: relative;
  bottom:0;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 25px;
}
