@charset "UTF-8";

/* BEGIN STYLES FOR BANNER */

#mySketch {
  width: 100%;
  max-width: 800px;
  height: 250px;
  margin: auto;
}

/* end styles for banner */



/* BEGIN STYLES FOR MAIN CONTENT */


body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 60px;
  margin-left:245px;
  margin-top: 30px;
  color: #313537;
}

h2 {
  margin-bottom: 25px;
}

hr {
  border: 3px #F1604E;
  margin-top: 30px;
  border-style: solid;
  margin-left: 245px;
  width: 185px;
}

/* end main content styles */



/* BEGIN ALL NAV STYLES */
#container {
  margin: 0 auto;
  padding-top: 50px;
  max-width: 300px;
}

#column1{
  float: left;
  padding: 25px;
}

#column2 {
  float: right;
  padding: 25px;
}

ul {
  list-style-type: circle;
}

li {
  font-size: 10px;
  color: black;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: darkgray;
}

a:hover {
  color: #F1604E;
}

a:active {
  color: darkgray;
}


footer {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #313537;
  clear:right;
  position: fixed;
  bottom:0;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 25px;
}

.wrapper {
  margin-bottom:10px;
}

.button {
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: 15px
}
/* end footer styles */
