html {
    height: 100%;


}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #b721ff 0%, #b721ff 10%, #21d4fd 100%);
    background-attachment: fixed;
    color: white;
    font-family: 'Maven Pro', sans-serif;
}



/*#header, #nxtPage {
  z-index: -1;
} */
h1 {
  text-align: center;
  margin-top:25%;
  font-size: 3em;
  letter-spacing: 4px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: 'Quicksand',sans-serif;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
}

header hr {
  color: white;
  width: 550px;
  margin-top: 1.25%;
  margin-bottom: 0;
  text-align: center;
  background-color: white;
  border: 0.21px white solid;
}

.title {
  font-size: 2em;
}

p {
  margin-top: 1%;
}

header p {
  font-size: 0.75em;
  text-align: center;
  margin: 0 auto;
  margin-top: 0;
  padding-top: 2%;
}
/* nav and list styles */

nav {
  padding-top: 10%;
  text-align: center;
  margin: 0 auto;

}

li {
  padding: 0.5%;
  display: inline-block;
  border: 2px white solid;
  margin-right: 2%;
  text-align: center;
  font-size:0.80em;
  border-radius: 25px;
  letter-spacing: 2.5px;
}

a {
  text-decoration:none;
  color: white;
}

/* fade animation */

.fade {
  animation-name: displayFade;
  animation-duration:4s;
}


@keyframes displayFade {
  0%{opacity:0}
  100%{opacity:1}
}


/* page scroll styles */
.page {
  height: 100%;
}

#page2 {
  height: 120%;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 4px;
  font-size: 2em;
  margin-left: 3%;
  margin-bottom: 0.40%;
  padding-top: 20%;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
  font-size: 1em;
  margin-left: 3%;
  margin-bottom: 0;

}

#page2 h3 {
  padding-top: 5%;
}

#page1 p, #page2 p, #page3 p {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-size: 0.75em;
  width: 40%;
  margin-left: 3%;
  padding-top: 0.5%;
  line-height: 1.25em;
  margin-top: 1%;
}

#page2 p {
  width: 60%;
}

#music p {
  margin-top: 1%;
  margin-bottom: 2%;
}


#page1 hr, #page2 hr, #page3 hr {
  background-color: white;
  margin-left: 3%;
  height: 1px;
  border: 0.25px white solid;
  text-align: left;
}

#page1 hr {
  width: 125px;
}

#page2 hr {
  width: 515px;
}

#page3 hr {
  width: 270px;
}

#page2 ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

#page2 li {
  letter-spacing: 1px;
}

#page2 p, #page2 li,  {
  font-size: 0.70em;
}

#page2 li, #page3 li {
  border:none;
  display: block;
  text-align: left;
  width: 100%;
}

#page3 ol {
  margin-top: 1.5%;
}

ul li {
  font-family: 'Raleway', sans-serif;
}

ol li {
  list-style: decimal;
  letter-spacing: 0.25px;
  font-family: 'Raleway', sans-serif;
}


/* footer and link styles */

footer {
  font-family: 'Raleway', sans-serif;
  font-size: 0.75em;
  position: absolute;
  font-weight: 600;
  color: white;
  float: left;
  top: 0;
  padding-top: 3%;
  padding-left: 3%;

}

footer a {
 color: white;
 letter-spacing: 2px;
}

a:link {
 text-decoration: none;
}

a:visited {
 color: white;
}


a:hover {
 color: white;
}

footer a:hover {
  color: darkBlue;
}

a:active {
 color: white;
}
