
body {
  /* background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%); */
}


/* audiovisualizer */

#waveContainer {
  top: 15%;
  left: 10%;
  display: block;
}


#mainImg {
  width: 52%;
  position: absolute;
  left: 575px;
  z-index: -1;
  top: 10%;
  margin-right: 5%;
}


/* footer and links */

footer {
  bottom: 0;
  padding-bottom:2.5%;
  font-size: 1.25em;
  position: fixed;
  float: left;
  margin-left: 2%;
  font-family: 'Special Elite', cursive;
}

a {
  color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #2B2C2C;
}

a:hover {
  color: #A02A2A;
}

a:active {
  color: white;
}
