body {
  /*background-image: linear-gradient(to top, #fff1eb 75%, #ace0f9 100%);*/
background-image: url("images/background.png");
}

#mainImg {
width: 63%;
position: absolute;
left: 575px;
z-index: -1;
top: 10px;
}

#mainImg, #buttons1 {
  display: block;
  font-size: 3em;
}

#buttons1 {
  margin-top: 500px;
  margin-left: 100px;
  display: block;
}

.volume {
  font-size: .30em;
}

footer {
  bottom: 0;
  padding-bottom:3%;
  font-size: 1em;
  position: fixed;
  margin-left: 100px;
  font-family: 'Special Elite', cursive;
}

#waveContainer {
  position: absolute;
  border-color: white;
  border-style: solid;
  border-width: thick;

  z-index: 1;
  top: 130px;
  left: 100px;
  display: block;
  border-radius: 3%;
}

/*.loader.loading  { display: block; }
