h1 {
  font-size:1.4em;
  margin-left: 7%;
  padding-top: 10%;
  color: white;
  line-height:1.6em;
}

body {
  background-color:#FFD79B;
  font-family: 'Special Elite', cursive;
}


/* audiovisualizer */
#musicPlayer {
  display: block;
}

#waveContainer {
  top: 20%;
  position: fixed;
  left: 0;
  border-bottom: 2px white solid;
  z-index: -1;
}


#mainImg {
  width: 80%;
  top: 13%;
  position: fixed;
  margin-left: 13%;
}

/* buttons */
#btn {
  margin-left: 7%;
  position: fixed;
  margin-top: 17%;
  z-index: 1;
}

#playPause, #volume {
  display: inline-block;
  vertical-align: middle;
}

.hide {
  display: none;
}

#playPause {
  margin-right: 2%;
  padding-top: 1%;
}

#play, #pause {
  background: white;
  border-radius: 21px;
  width: 36px;
  height: 36px;
  font-size: 0.75em;
}

#volume {
  font-size: 3em;
}

#increase, #decrease {
  border-radius: 21px;
  width: 36px;
  background: white;
}

/* footer and links */

footer {
  bottom: 0;
  padding-bottom:2.5%;
  font-size: 0.75em;
  position: fixed;
  float: left;
  margin-left: 7%;
}

a {
  color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #2B2C2C;
}

a:hover {
  color: #A02A2A;
}

a:active {
  color: white;
}
