body {
  height: 750px;
  background-color: antiquewhite;
}

header {
  max-width: 1000px;
  margin-bottom:25px;
  margin-top: 40px;
}

h1, article {
  margin-left: 75px;
  display: block;
}


h1 {
  font-family: "Avenir", sans-serif;
  font-size:65px;
  position: relative;
}

article {
  position: relative
  min-width: 700px;
  padding: 10px;
}

#column1, #column2 {
  display: inline-block;
  vertical-align: top;
}

div {
  margin: 2%;
}

label {
  width: 5em;
  text-align: right;
  display: inline-block;
  padding-right: 3%;
  font-type: "Avenir", sans-serif;
}

input[type="text"] {
  width: 60%;
  padding: 3%;
  border-bottom: 3px blue;
  font-size: 1.5em;
  font-type: "Helvetica", sans-serif;
}

input[type="text"]:focus {
  border-bottom: 8px cornflowerblue solid;
  color: black;
}

div: last-child {
  text-font: "Avenir", sans-serif;
  text-size: 10px;
}

footer {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #313537;
  clear:right;
  position: fixed;
  bottom:0;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 25px;
}
