body {
  height: 750px;
  background-color: antiquewhite;
}

header {
  max-width: 1000px;
  margin-bottom:25px;
  margin-top: 40px;
}

h1, article {
  margin-left: 75px;
  display: block;
}

h1 {
  font-family: 'Marck Script', cursive;
  font-size:65px;
  position: relative;
  margin-top: 30px;
}

article {
  position: relative
  min-width: 700px;
  padding: 10px;
}

#column1, #column2 {
  display: inline-block;
  vertical-align: top;
}

div {
  margin: 1%;
}

label {
  width: 5em;
  text-align: right;
  font-family: 'Kreon', serif;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  padding-right: 3%;
}

input[type="text"] {
  width: 50%;
  height: 20%;
  padding: 3%;
  border-bottom: 3px blue;
  font-size: 1.5em;
  font-family: 'Kreon', serif;
}

input[type="text"]:focus {
  border-bottom: 5px cornflowerblue solid;
}

div: last-child {
  font-family: 'Kreon', serif;
  font-size: 10px;
  margin: 0 auto;
}

input[type="reset"],
input[type="submit"] {
  width: 20%;
  margin: 2%;
  padding: 12px;
  border: none; /*remove default*/
  border-radius: 3px;
  border-bottom: 4px orange solid;
  font-weight: bold;
  font-size: 1.5em;
  background-color: antiquewhite;
  color: #333;
}

section p {
  width: 80%;
  min-width: 700px;
  margin-left: 12px;
  padding: 24px;
  border-radius: 11px;
  font-size: 20px;
  text-align: center;
  line-height: 28px;
  background-color: purple;
  color: antiquewhite;
}

footer {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #313537;
  clear:both;
  position: fixed;
  bottom:0;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 15px;
}
