body {
  scroll-behavior: smooth;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 4px;
  font-size: 2em;
  margin-left: 3%;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 20%;
  text-align: left;
}

.page p  {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-size: 0.75em;
  margin-left: 3%;
  padding-top: 0.5%;
  line-height: 1.5em;
  text-align: left;
}

#page4 p {
  width: 75%;
}

h4 {
  margin-left: 3%;
}


#page1 h3 {
  margin-top: 70%;
  margin-bottom: 2%;
}

#page1 p {
  width: 75%;
  margin-top: 1%;
  margin-bottom: 0;
  padding-bottom: 0;
}

#page2 h3 {
  margin-top: 50%;
}


#page2 li {
  margin-left: 0;
  padding-left: 0;
  text-indent: 0;
}

#music p {
  margin-top: 1%;
  margin-bottom: 3%;
}

#page3 p {
  width: 75%;
}

#page2 li, #page3 li {
  border:none;
  display: block;
  text-align: left;
  letter-spacing: 1px;
  padding-top: 2%;
  padding-bottom: 1%;
  text-indent: 3%;
  font-family: 'Raleway',sans-serif;
}

#page3 li {
  font-size: 0.75em;
}

#page3 ul {
  margin-bottom: 2%;
}

#page3 ul li {
  padding-bottom: 1%;
}

#page4 ul {
  margin-bottom: 30%;
  width: 100%;
  margin-top: 2%;
}

#page4 h3 {
  margin-top: 35%;
}

#page4 ul li {
  padding: 1%;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  text-indent: 2%;
}

#page3 a:hover {
  color: darkBlue;
}

#page3 ol li {
  padding-bottom: 2%;
}

.page {
  height: 110%;
  padding-left: 30%;
  padding-right: 5%;
}


/* page height for scrolls */

#page1 {
  height: 130%;
}


#page3 {
  height: 185%;
}
